*{
    margin: 0;
    padding: 0;
    
}

#header{
    height: 70px;
    width: 100%;
    background-color: rgb(253, 252, 237);
}

#header-img{
    height: 55px;
    width: 55px;
    margin-left: 50px;
    margin-top: 4px;
    line-height: 70px;
}

#nav-bar{
    height: 70px;
    width: 40%;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-0%, -0%);
}

#nav-bar ul{
    list-style-type: none;
}

#nav-bar ul li{
    display: inline-block;
}

#nav-bar ul li a{
    line-height: 70px;
    text-decoration: none;
    margin-right: 60px;
    font-size: 20px;
    font-weight: strong;
    color: rgb(44, 43, 44);
}

#nav-bar ul li a:hover{
    color:rgb(250, 246, 249);
    background-color:rgb(48, 5, 41);
    transition: 1ms ease;
    border: none;
    border-radius: 3px;
    height: 70px;
}

/*------Not Working-----------------------
#nav-bar ul li a:active{
    color: white;
    background-color:rgb(109, 3, 95);
    height: 70px;
    width: auto;
}

----------------------------------------- */

.under-header{
    height: 89.5vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.wallpaperscraft.com/image/single/pattern_forest_motif_131405_1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

#under-header-img1{
    height: 500px;
    width: 380px;
    transform: rotate(3deg);
    margin-left: 50px;
    margin-top: 40px;
    border: 7px solid black;
    box-shadow: 10px 10px 8px black;
    opacity: 85%;
}

#under-header-img2{
    height: 500px;
    width: 380px;
    transform: rotate(-8deg);
    z-index: -1;
    margin-left: -200px;
    margin-top: 35px;
    border: 7px solid black;
    box-shadow: 10px 10px 8px black;
    opacity: 89%;
}

/* ---learning----------------------------------------
@media(max-width: 400px){

    #under-header-img1, #under-header-img2{
        max-width: 100%;
        height: auto;
    }
}

-----------------------------------------------------*/

.under-header-text{
    
    height: 89.5vh;
    width: 50%;
    color: white;
    float: right;
}


.under-header-text h1{
    font-size: 4.5em;
    fnt-family: 'Permanent Marker', cursive;
    color:rgb(8, 236, 145);
    margin-left: 2px;
    margin-top: 63px;
}

.under-header-text h3{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    color:rgb(184, 205, 1);
    margin-left: 10vw;
    margin-top: 0;
}

.under-header-text h4{
    font-size: 3em;
    margin-left: 10px;
    margin-top: 75px;
    color:rgb(2, 114, 179)
}

.under-header-text sub{
    font-size: 0.9em;
    margin-top: 0;
    margin-left: 25vw;
}

.register-btn{
    border: none;
    height: 8vh;
    width: 17vw;
    margin-left: 10px;
    background-color:rgb(250, 181, 101);
    color:rgb(3, 66, 63);
    font-size: 1.5em;
    border-radius: 5px;
}

.img-flex-section{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    height: 142vh;
    width: 100%;
    background-color: rgb(245, 189, 198);
}

.img1-flex, .img2-flex, .img3-flex{
    margin-top: 10vh;
    border-radius: 25px;
    padding: 10px;
    height: 120vh;
    width: 30%;
    opacity: 85%;
}

#aboutUs{
    width: 100%;
    height: 60vh;
    background-color: rgba(1, 8, 32, 0.835);
    color: white;
    margin-top: 1vh;
    
}

#aboutUs iframe{
    position: absolute;
    margin-left: 5vw;
    margin-top: 7vh;
    border-radius: 7px;
}

#aboutUs-h1{
    position: absolute;
    top: 252%;
    left: 69%;
    transform: translate(-60%, -40%);
    font-size: 50px;

}

#aboutUs-lorem{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 272%;
    left: 75%;
    transform: translate(-60%, -40%);
    font-size: 22px;
}

#read-more-btn{
    position: absolute;
    top: 294%;
    left: 69%;
    transform: translate(-60%, -40%);
    height: 5vh;
    width: 15vw;
    border: none;
    border-radius: 6px;
    background-color: rgb(172, 175, 4);
    color: rgb(1, 17, 80);
    font-size: 15px;
    font-weight: bold;
}

#pricing{
    width: 100%;
    height: 87vh;
    background-color: rgb(229, 246, 151);
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

#price-card1{

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('https://i.pinimg.com/474x/4d/ac/62/4dac62d9583fd0f6f540676ca7c6d799.jpg');
} 

#price-card2{
    
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('https://i.pinimg.com/474x/82/4f/e3/824fe38e55b947fba32fcee4cc6e3483.jpg');
} 

#price-card3{
    
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('https://i.pinimg.com/474x/78/9f/45/789f451987d8156e0e69ca02565d08fe.jpg');
}

#price-card1, #price-card2, #price-card3{
    height: 65vh;
    width: 20vw;
    margin-top: 18vh;
    margin-right: 20px;
    border-radius: 35px;
    z-index: 2;
    border: 1px solid rgb(87, 87, 87);
    box-shadow: 10px 10px 8px rgba(87, 87, 87, 0.612);
    color: white;
    
}

#choose-plan-txt{
    position: relative;
    left: 32%;
    top: 2vh;
    font-size: 3em;
}

#price-5dollar, #price-10dollar, #price-15dollar{
    position: relative;
    left: 35%;
    top: 2vh;
    font-size: 5em;
}

#list-5dollar, #list-10dollar, #list-15dollar{
    position: relative;
    left: 20%;
    top: 4vh;
    font-size: 1.23em;
}

#order-now-btn-5dollar, #order-now-btn-10dollar, #order-now-btn-15dollar{
    position: relative;
    left: 17%;
    top: 15vh;
    font-size: 1.4em;
    border-radius: 5px;
    height: 6vh;
    width: 13vw;
    color:rgb(110, 6, 59);
}

#pricing-footer{
    position: absolute;
    width: 100%;
    height: 38vh;
    background-color:rgb(156, 221, 5);
    z-index: 1;
    margin-top: 49vh;
    border-radius: 30% 0 0 0;
}

#contactUs{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('https://images.vexels.com/media/users/3/218521/raw/ac56e73781ea4ead7bd8464dd757e35c-sliced-strawberries-background-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 95%;
    margin-top: 1vh;
    color: white;
    
}

#contactUs-left{
    float: left;
    width: 33%;
    bakground-color:rgb(156, 221, 5);
    margin-left: 7vw;
    margin-top: 10vh;
    padding: 50px;
}

#contactUs-right{
    width: 33%;
    float: right;
    Display: flex;
    flex-direction: column;
    bckground-color:rgb(172, 175, 4);
    margin-right: 6vw;
    margin-top: 3vh;
    padding: 50px;
    
}

#contactUs-left h1{
    margin-bottom: 1vh;
    font-size: 50px;
}

#contactUs-left h3{
    margin-bottom: 10vh;
    font-size: 20px;
}

#name, #email, #message{
    width: 25vw;
    height: 5vh;
    margin-bottom: 2vh;
    border: none;
    border-bottom: 5px solid rgb(3, 121, 3);
    background-color:rgba(156, 221, 5, 0.539);
    color:rgb(255, 255, 255);
    padding-left: 12px;
    border-radius: 5px;
    font-size: 15px;
}

#submit{
    height: 7vh;
    width: 15vw;
    margin-top: 6vh;
    border-radius: 5px;
    background-color:rgb(156, 221, 5);
    color:rgb(3, 66, 63);
    font-size: 20px;
    font-weight: bold;
}

#map-loc{
    margin-bottom: 7vh;
    border: none;
    border-radius: 5px;
}

#phone-icon, #email-icon, #insta-icon, #fb-icon, #linkedIn-icon{
    font-size: 1.5em;
    color:rgb(156, 221, 5);
    
}

#phone, #email-id{
    font-size: 20px;
    position: relative;
    top: -4vh;
    left: 50px;
}

#follow-text{
    font-size: 30px;
}

#follow-section{
    display: flex;
    flex-direction: row;
}

.fa-brands{
    position: relative;
    top: 1.5vh;
    padding: 7px;

}


/*----------------------------------------------------------------------------------------------------------------------------------*/
